
body {
    background-color: white !important;
    height: 100% !important;
}

.fondo{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 5px;
}

#to-top.on {
    transform: scale(1);
  }
  #to-top {
    position: fixed;
    right:15px;
    bottom: 15px;
    width: 40px;
    height: 40px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    text-align: center;
    cursor: pointer;
    z-index: 996;
    transform: scale(0);
  }
